/* The file for designing my calculator */
body {
    background-color: rgb(206, 253, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

/* To format Tip Calculator Title */
h1 {
    color: rgb(0, 109, 18);
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 500px;
    width: 50vw;
    margin-top: 3vw;
    height: 75vh;
    border: 2px solid rgb(156, 228, 156);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(0, 78, 0, 34);
}

form {
    margin-top: 10px;
    padding: 3vw;
    display: grid;
    gap: 15px;
}

label {
    color: darkgreen;
    font-size: 20px;
}

.total {
    font-size: 20px;
    color: darkgreen;
}

.error {
    display: none;
}

.error.show {
    display: block;
    color: yellow;
    background-color: red;
    display: block;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
}

#reset_button {
    width: 75%;
    height: 4vh;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 3.5vh;
    display: block;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(148, 96, 0, 10);
}